{% extends 'base_with_sidebar.html' %}
{% block main %}
{% load flatblock_tags %}

<div id="topic-page" class="row-fluid">
	<div class="span12">
        <h5>
            {{ topic.display_name|upper }}
            {% if topic.healthy_ecosystems %}
            <span id="healthy-ecosystems" style="margin-left: 10px" rel="popover" data-placement="top" data-content="HEALTHY ECOSYSTEMS" data-trigger="hover">
                <img src="{{MEDIA_URL}}gsaa/img/vector-artwork/priority_issue_icons/healthy_ecosystem.png">
            </span>
            {% endif %}
            {% if topic.resilient_communities %}
            <span id="resilient-communities" style="margin-left: 10px" rel="popover" data-placement="top" data-content="DISASTER-RESILIENT COMMUNITIES" data-trigger="hover">
                <img src="{{MEDIA_URL}}gsaa/img/vector-artwork/priority_issue_icons/disaster_resilient.png">
            </span>
            {% endif %}
            {% if topic.clean_waters %}
            <span id="clean-waters" style="margin-left: 10px" rel="popover" data-placement="top" data-content="CLEAN WATERS" data-trigger="hover">
                <img src="{{MEDIA_URL}}gsaa/img/vector-artwork/priority_issue_icons/clean_coastal_waters.png">
            </span>
            {% endif %}
            {% if topic.working_waterfronts %}
            <span id="working-waterfronts" style="margin-left: 10px" rel="popover" data-placement="top" data-content="WORKING WATERFRONTS" data-trigger="hover">
                <img src="{{MEDIA_URL}}gsaa/img/vector-artwork/priority_issue_icons/working_waterfronts.png">
            </span>
            {% endif %}
        </h5>
		<div class="split-column" style="width: 90%">{{ topic.description|safe }}</div>
        <div style="margin-top: 20px; font-size: 12px; color: #666666; border-bottom: 1px solid #ccc; width: 90%">
            <b>HOW THE PORTAL CAN BE USED:</b>
        </div>
        <div id="map-view-pane" class="row-fluid">
            <div id="map-view-list" class="span4">
                {% for view in views %}
                    <div id="{{view.name}}">
                        <h5>{{ view.display_name|upper }}</h5>
                    </div>
                    <div id="{{view.name}}-description">
                        {{ view.description|safe }}
                        <div style="padding-top: 20px;">
                            <a href="{{domain}}/planner/#{{view.url_hash}}">
                                <img style="margin-right: 4px; width: 7%; height: 7%;" class="svg-link" src="{{MEDIA_URL}}gsaa/img/vector-artwork/misc/visualize.svg">
                                Visualize
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="map-view" class="span7">
                {% for view in views %}
                    <iframe onload="mapLoaded()" id="{{view.name}}-iframe" class="map-view-iframe" src="{{domain}}/embed/map/#{{view.url_hash}}&logo=false" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                {% endfor %}
            </div>
            <div class="span1">
            </div>
        </div>

        <div style="margin-top: 10px; margin-bottom: 20px; color: #666666; border-bottom: 1px solid #ccc; width: 90%">
        </div>

        <h5>RELATED DATASETS</h5>
		{% for layer in layers %}
            <div class="row-fluid">
                <div class="span4">
                    {{ layer.name }}
                </div>
                <div class="span4">
                    <a href="{{ layer.bookmark }}">
                        <img style="margin-right: 4px; width: 4%; height: 4%;" class="svg-link" src="{{MEDIA_URL}}gsaa/img/vector-artwork/misc/visualize.svg">
                        Visualize
                    </a>
                </div>
                <div class="span4">
                    <a href="/explore/catalog#{{ layer.slug }}-links">
                        <img style="margin-right: 4px; width: 5%; height: 5%;" class="svg-link" src="{{MEDIA_URL}}gsaa/img/vector-artwork/misc/explore.svg">
                        Explore Data Catalog
                    </a>
                </div>
            </div>
            <div style="margin-bottom: 5px; color: #666666; border-bottom: 1px solid #ccc; width: 90%">
            </div>
		{% endfor %}
	</div>
</div>
<!-- endforeach theme -->


<script type="text/javascript" charset="utf-8">
  var iframeLoaded = false;
  var fromPage = unescape(document.referrer);

  window.onload = function() {
      //$('#map-view-list .accordion-body').first().collapse('show');
      //$('#map-view .map-view-iframe').first().show();
      $('body').focus();
      $(function () {
          $("#healthy-ecosystems").popover();
          $("#resilient-communities").popover();
          $("#clean-waters").popover();
          $("#working-waterfronts").popover();
      });
      //console.log("Window " + window.history.length);
      //console.log("Parent " + parent.history.length);

      iframeLoaded = true;
  };
  function mapLoaded()
  {
    //Attempt to fix quirky behavior in older IEs were the page has an iframe and it handles the browser back button
    //to just reload the iframe. The iframe onload function here gets called before the parents onload above. We use
    //this to then see if the mapLoaded function is called again, it's because the user has clicked the back buton on the browser.
    if(iframeLoaded)
    {
      window.open(fromPage, '_self', '', false);
    }
  }
  //madrona.onShow(function(){
      //activeMapView( {{view.0.name}} );
  //});
</script>


<style type="text/css">
#map-view-pane {
    margin: 20px 0px;
}
#map-view-list {
}
#map-view-list .accordion {
    margin-bottom: 0px;
}
#map-view-list .accordion-group {
    border: 0px;
}
#map-view-list .accordion-toggle {
    padding: 0px;
    text-decoration: none;
}
#map-view {
    height: 400px;
}
#topic-page a {
    color: #333333;
}
#topic-page a:hover {
    color: #34C4F2;
}

.svg-link:hover {
  fill: #34C4F2;
}
.svg-link {
  margin-bottom: 5px;
}
.popover-title {
    display: none;
}
.popover-content {
    color: #030bd4;
    padding: 5px 10px;
    font-size: 12px;
}
</style>


{% endblock %}
