{% extends 'base_with_sidebar.html' %}
{% block main %}
{% load flatblock_tags %}

<div id="topic-page" class="row-fluid">
	<div class="span12">
        <h5>
            {{ topic.display_name|upper }}
            <span style="margin-left: 10px">
                <img src="{{MEDIA_URL}}gsaa/img/vector-artwork/priority_issue_icons/healthy_ecosystem.png">
            </span>
            <span style="margin-left: 10px">
                <img src="{{MEDIA_URL}}gsaa/img/vector-artwork/priority_issue_icons/disaster_resilient.png">
            </span>
        </h5>
		<div class="split-column" style="width: 90%">{{ topic.description|safe }}</div>
        <div style="margin-top: 20px; font-size: 12px; color: #666666; border-bottom: 1px solid #ccc; width: 90%">
            <b>HOW THE PORTAL CAN BE USED:</b>
        </div>
        <div id="map-view-pane" class="row-fluid">
            <div id="map-view-list" class="span4">
                {% for view in views %}
                    <div id="{{view.name}}">
                        <h5>{{ view.display_name|upper }}</h5>
                    </div>
                    <div id="{{view.name}}-description">
                        {{ view.description|safe }}
                        <div style="position: absolute; bottom: 0;">
                            <a href="{{domain}}/planner/#{{view.url_hash}}">
                                <img style="width: 5%; height: 5%;" class="svg-link" src="{{MEDIA_URL}}gsaa/img/vector-artwork/misc/visualize.svg">
                                View in Marine Planner
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="map-view" class="span7">
                {% for view in views %}
                    <iframe id="{{view.name}}-iframe" class="map-view-iframe" src="{{domain}}/embed/map/#{{view.url_hash}}&logo=false" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                {% endfor %}
            </div>
            <div class="span1">
            </div>
        </div>
        
        <div style="margin-top: 20px; margin-bottom: 20px; color: #666666; border-bottom: 1px solid #ccc; width: 90%">
        </div>
        
        <h5>RELATED DATASETS</h5>
		{% for layer in layers %}
            <div class="row-fluid">
                <div class="span4">
                    {{ layer.name }}	
                </div>
                <div class="span4">
                    <a href="{{ layer.bookmark }}">
                        <img style="width: 3%; height: 3%;" class="svg-link" src="{{MEDIA_URL}}gsaa/img/vector-artwork/misc/visualize.svg">
                        View in Marine Planner
                    </a>
                </div>
                <div class="span4">
                    <a href="/explore/catalog#{{ layer.slug }}">
                        <img style="width: 4%; height: 4%;" class="svg-link" src="{{MEDIA_URL}}gsaa/img/vector-artwork/misc/explore.svg">
                        View in Data Catalog 
                    </a>
                </div>
            </div>
            <div style="margin-bottom: 5px; color: #666666; border-bottom: 1px solid #ccc; width: 90%">
            </div>
		{% endfor %}
	</div>
</div>
<!-- endforeach theme -->


<script type="text/javascript" charset="utf-8">
    window.onload = function() {
        //$('#map-view-list .accordion-body').first().collapse('show');
        //$('#map-view .map-view-iframe').first().show();
    };
    
    //madrona.onShow(function(){
        //activeMapView( {{view.0.name}} );
    //});
</script>

<style type="text/css">
#map-view-pane {
    margin: 20px 0px;
}
#map-view-list {
}
#map-view-list .accordion {
    margin-bottom: 0px;
}
#map-view-list .accordion-group {
    border: 0px;
}
#map-view-list .accordion-toggle {
    padding: 0px;
    text-decoration: none;
}
#map-view {
    height: 400px;
}
#topic-page a {
    color: #333333;
}
#topic-page a:hover {
    color: #34C4F2;
}

.svg-link:hover {
  fill: #34C4F2;
}
.svg-link {
  margin-bottom: 5px;
}
</style>


{% endblock %}
