@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller/aller_rg-webfont.eot');
    src: url('../fonts/Aller/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aller/aller_rg-webfont.woff') format('woff'),
         url('../fonts/Aller/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/Aller/aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller/aller_bd-webfont.eot');
    src: url('../fonts/Aller/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aller/aller_bd-webfont.woff') format('woff'),
         url('../fonts/Aller/aller_bd-webfont.ttf') format('truetype'),
         url('../fonts/Aller/aller_bd-webfont.svg#allerbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller/aller_it-webfont.eot');
    src: url('../fonts/Aller/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aller/aller_it-webfont.woff') format('woff'),
         url('../fonts/Aller/aller_it-webfont.ttf') format('truetype'),
         url('../fonts/Aller/aller_it-webfont.svg#alleritalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


/* limiting width unless we have time to address responsivness for phone sizes.
/*body{*/
   /*min-width:770px;*/
   /*width: auto !important;*/  /* Firefox will set width as auto */
   /*width:770px;*/             /* As IE ignores !important it will set width as 770px; */
/*}*/
body {
  font-family: "Aller";
  background-color: #F0FAFE;
  color: #000;
}
.primary { color: #030BD4; }
.secondary-copy { color: #666; }
.dividing-lines { color: #ccc; }

p { word-break:hyphenate; }
p.indent { margin-left: 25px; }
.nowrap { text-wrap:none; }

/**
 * Links
 */
a, a:visited {
  color: #030BD4;
}
a.subtle,
a.subtle:visited {
  color: #000;
}
/* hover/active state */
a.active,
a:hover,
a:focus,
a.subtle:hover,
a.subtle:hover p,
.navbar .nav>li:focus,
.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color:#34C4F2;
  text-decoration: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  text-decoration: none;
  -webkit-box-shadow: inset 0 0 0 rgba(255, 0, 0, 1);
     -moz-box-shadow: inset 0 0 0 rgba(255, 0, 0, 1);
          box-shadow: inset 0 0 0 rgba(255, 0, 0, 1);
}
.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
  background-color: white;
  color:#34C4F2;
}
/* external links get the Font Awesome icon-external-link */
a[target="_blank"]:after {
  content: "\0000a0\0000a0\f08e";
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a[target="_view"]:after {
  content: "\0000a0\0000a0\f041";
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a[target="_download"]:after {
  content: "\0000a0\0000a0\f019";
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}


/**
 * Fixed header that shows a shadow when scroll position isn't at top.
 */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 155px;
  z-index: 1000;
}
header.shadow {
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
     -moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
          box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
}

header .logo > img { margin-top: 8px; }

.navbar {
    background-color: transparent;
    font-size: 12px;
    margin-top: 6px;
}
.navbar-inner {
  border: none;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)";
  padding: 0;
}
.navbar .nav>li>a {
  color: #333;
}

/**
 * Navbar search form expands left over other links when active.
 */
header .span12 {
  position: relative;
}
.navbar {
  position: absolute;
  top:0;
  right:0;
}
.navbar-inner {
  position: relative;
  width: 400px;
}
.navbar .gsaa-nav {
  position: absolute;
  top: 0;
  right: 0;
}
.navbar .navbar-form.search {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}
.navbar .navbar-form.search.active {
  border-bottom: 2px black solid;
}
.navbar .navbar-form.search .btn {
  color: black;
  text-decoration: none;
}
.navbar .navbar-form.search .btn:hover {
  color:#34C4F2;
}
.navbar .navbar-form.search .btn,
.navbar .navbar-form.search.active .btn {
  padding-left: 0;
  margin-left: 0;
}
.navbar .navbar-form.search input,
.navbar .navbar-form.search input:focus {
  display: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  font-size: 20px;
  width: 330px;
}

/**
 * Dropdown in header menu - some of this is purely
 * stripping bootstrap styles.
 */
.nav.gsaa-nav>li>a.dropdown-toggle {
  padding-bottom: 5px;
}
.gsaa-nav .dropdown-menu {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-width: auto;
  margin: 0 0 0 15px;
  padding: 0;
}
.navbar .nav>li>.dropdown-menu:before {
  content: none;
}
.navbar .nav>li>.dropdown-menu>li {
  border-bottom: 1px dotted #ccc;
}
.navbar .nav>li>.dropdown-menu>li:last-child {
  border-bottom: none;
}
.navbar .nav>li>.dropdown-menu>li>a {
  padding: 3px 0;
}

@media (max-width: 620px) {
  header .navbar {
    display: none;
  }
}

/**
 * Footer
 */
footer {
  background-color: white;
  padding: 30px 0;
  font-size: 12px;
}
footer #section1 p {
  font-size: 18px;
  color: #030BD4;
  font-weight: bold;
  line-height: 30px;
  margin-right: 20px;
}
footer h6 {
  margin-top: 0;
  margin-bottom: 25px;
}

.main-container {
  padding-top: 30px;
  /*DWR 2013-11-19 Remove to clean up too much whitespace on homepage*/
  /*padding-bottom: 115px;*/
  padding-bottom: 10px;
}


/**
 * Main nav
 */
.sidebar-nav-section > h3 {
  font-weight: normal;
  line-height: 40px;
}
.sidebar-nav-section > ul > li {
  padding-bottom: 8px;
}
.sidebar-nav-section > ul > li:last-child {
  padding-bottom: 10px;
}
.sidebar-nav-section > h3 > a,
.sidebar-nav-section > ul > li > a {
  color: #000;
}
.sidebar-nav-section > h3 > a:hover,
.sidebar-nav-section.active > h3 > a {
  color: #34C4F2;
}

.sidebar-nav-section > ul > li > a { border-bottom: 2px solid transparent; }
.sidebar-nav-section > ul > li:hover > a { border-bottom-color: #ccc; }
.sidebar-nav-section > ul > li.active > a { border-bottom-color: #34C4F2; }

.sidebar-nav-section > ul { display: none; }
.sidebar-nav-section.active > ul { display: inherit; }

/*.sidebar-nav-section > ul > li { height: 30px; }*/

.sidebar-nav-section { border-bottom: 1px dotted #ccc; }
.sidebar-nav-section:last-child { border-bottom: none; }

@media (max-width: 979px) {
  .sidebar-nav-section > h3 {
    font-size: 20px;
  }
}


/**
 * Page blocks
 */
[class*="row"] > h4 {
  margin-top: 50px;
  padding-bottom: 18px;
}
.page-blocks > [class*="row"] .page-block {
  padding: 30px 40px 30px 0;
}
.page-blocks > [class*="row"]:first-child .page-block {
  padding-top: 0
}
.page-block > h4 {
  margin: 20px 0;
}

/* dividing lines when blocks are stacked */
@media (max-width: 767px) {
  .page-blocks > [class*="row"] > [class*="span"] {
      border-bottom: 1px dotted #ccc;
      margin-top: 30px;
  }
  .page-blocks > [class*="row"] {
    width: 100%\9;    /* IE 8 and below */
  }
  .page-blocks > [class*="row"] > [class*="span"] {
    max-width: 400px\9;    /* IE 8 and below */
    float: none\9;
  }
  .page-blocks > [class*="row"]:last-child > [class*="span"]:last-child {
      border-bottom: none;
  }
}
/* dividing lines when blocks are side by side */
@media (min-width: 768px) {
  .page-blocks > [class*="row"]  > [class*="span"] {
    border-top: 1px dotted #ccc;
    margin-left: 0px;
    padding-left: 20px;
  }
  .page-blocks > [class*="row"]  > [class*="span"] > .page-block {
    border-right: 1px dotted #ccc;
  }
  .page-blocks > [class*="row"]:first-child > [class*="span"] {
    border-top: none;
  }
  .page-blocks > [class*="row"] > [class*="span"]:last-child {
    padding-left: 20px;
  }
  .page-blocks > [class*="row"] > [class*="span"]:last-child > .page-block {
    border-right: none;
  }
}


.the-need-page-block ul > li {
  padding-top: 15px;
}
.the-need-page-block ul > li > span {
  width: 30px;
}
.the-need-page-block ul > li > img {
  margin: 0 auto;
}
.team-org-page-block {
  height: 200px;
  position: relative;
}
.team-org-page-block [class*="logo"]{
  height: 140px;
  max-width: 190px;
  margin-left: auto;
  margin-right: auto;
  background:url(http://placehold.it/200x100) no-repeat center center;
  /*background-size: contain;*/
}
.team-org-page-block p {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  text-align: center;
  padding-right: 30px;
  font-size: 12px;
  line-height: 14px;
  color: #666;
}
.team-org-page-block .logo1 { background-image: url(../img/partner-logos/secoora.jpg?v=2); }
.team-org-page-block .logo2 { background-image: url(../img/partner-logos/georgia_tech.jpg?v=2); }
.team-org-page-block .logo3 { background-image: url(../img/partner-logos/duke.jpg?v=2); }
.team-org-page-block .logo4 { background-image: url(../img/partner-logos/east_carolina.jpg?v=2); }
.team-org-page-block .logo5 { background-image: url(../img/partner-logos/nature_conservancy.jpg?v=2); }
.team-org-page-block .logo6 { background-image: url(../img/partner-logos/south_carolina_u.jpg?v=2); }
.team-org-page-block .logo7 { background-image: url(../img/partner-logos/ecotrust.jpg?v=2); }
.team-org-page-block .logo8 { background-image: url(../img/partner-logos/florida_dept_env_protection.jpg?v=2); }
.team-org-page-block .logo9 { background-image: url(../img/partner-logos/florida_fish_wildlife.png?v=2); }
.team-org-page-block .logo10 { background-image: url(../img/partner-logos/georgia_dept_nat_resources.jpg?v=2); }
.team-org-page-block .logo11 { background-image: url(../img/partner-logos/nc_dept_env.jpg?v=2); }
.team-org-page-block .logo12 { background-image: url(../img/partner-logos/seagrant.jpg?v=2); }
.team-org-page-block .logo13 { background-image: url(../img/partner-logos/sc_dept_nat_resources.jpg?v=2); background-size: contain; }
.team-org-page-block .logo14 { background-image: url(../img/partner-logos/sc_dept_health.jpg?v=2); }
.team-org-page-block .logo15 { background-image: url(../img/partner-logos/noaa.jpg?v=2); background-size: contain; }


/**
 * Responsive
 */
@media (max-width: 767px) {
  footer h6 {
    margin-top: 30px;
  }
}

#homeCarousel {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#homeCarousel .item > img {
  width: 100%;
}

.carousel-indicators {
  position: absolute;
  top: auto;
  bottom: -15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}
.carousel-indicators li {
  width: 16px;
  height: 6px;
  background-color: transparent;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.carousel-indicators li.active {
  background-color:#34C4F2;
  border-color: #34C4F2;
}

/* carousel caption */
.carousel-caption {
  position: absolute;
  right: auto;
  bottom: 10px;
  left: 15px;
  height: 142px;
  width: 142px;
  background-color: transparent;
}
.carousel-caption .caption-box {
  height: 100%;
  width: 100%;
  background: url('../img/carousel/caption-box.png') no-repeat center center;
  padding: 0;
}
.carousel-caption h4,
.carousel-caption p {
  color: #000;
}
.carousel-caption h4 {
  line-height: 20px;
  padding: 35px 10px 5px 10px;
}
.carousel-caption p {
  margin-bottom: 0;
  padding: 0 10px 5px 10px;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
}


/* info icon */
.info-image {
  position: relative;
}
#homeCarousel img.info-button,
div.info-image img.info-button {
  position: absolute;
  bottom: 16px;
  right: 18px;
  z-index: 100;
  width: auto;
}
.tooltip {
  position: absolute;
  z-index: 100;
  display: block;
  visibility: visible;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip.top {
  margin-top: -3px;
  margin-right: 10px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.learn-page .tooltip-inner {
  min-width: 240px;
}
.tooltip-inner {
  max-width: 400px;
  padding: 20px 25px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  background-color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #ffffff;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #ffffff;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #ffffff;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #ffffff;
}

.photo-credits {
  font-style: italic;
}


/* Make carousel fade rather than slide */
.carousel .item {-webkit-transition: opacity 1s; -moz-transition: opacity 1s; -ms-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}


/**
 * Home page main links (under carousel)
 */
.home-main-nav-row {
  margin-bottom: 30px;
}
.home-main-nav-row .item p {
  max-width: 220px;
}
.home-main-nav-row .item > a > div {
  padding: 30px;
  padding-right: 50px;
  border-right: 1px dotted #ccc;
}
.home-main-nav-row .item:last-child > a > div {
  border-right: none;
}
.home-main-nav-row .item > a:hover .svg-link path {
  fill: #34C4F2;
}
@media (max-width: 767px) {
  .home-main-nav-row .item > a > div {
    border-bottom: 1px dotted #ccc;
    border-right: none;
  }
  .home-main-nav-row .item:last-child > a > div {
    border-bottom: none;
  }
}



.svg-link:hover path {
  fill: #34C4F2;
}
.svg-link {
  margin-bottom: -2px;
}
