@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller/Aller_Rg.eot?iefix') format('eot'),
       url('../fonts/Aller/Aller_Rg.woff') format('woff'),
       url('../fonts/Aller/Aller_Rg.ttf') format("truetype"),
       url('../fonts/Aller/Aller_Rg.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller/Aller_Bd.eot?iefix') format('eot'),
       url('../fonts/Aller/Aller_Bd.woff') format('woff'),
       url('../fonts/Aller/Aller_Bd.ttf') format("truetype"),
       url('../fonts/Aller/Aller_Bd.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller/Aller_It.eot?iefix') format('eot'),
       url('../fonts/Aller/Aller_It.woff') format('woff'),
       url('../fonts/Aller/Aller_It.ttf') format("truetype"),
       url('../fonts/Aller/Aller_It.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: italic;
}


/* limiting width unless we have time to address responsivness for phone sizes. */
body{
   min-width:770px;
   width: auto !important;  /* Firefox will set width as auto */
   width:770px;             /* As IE ignores !important it will set width as 770px; */
}
body {
  font-family: "Aller";
  background-color: #F0FAFE;
  color: #000;
}
.primary { color: #030BD4; }
.secondary-copy { color: #666; }
.dividing-lines { color: #ccc; }

p { word-break:hyphenate; }
p.indent { margin-left: 25px; }

/**
 * Links
 */
a, a:visited {
  color: #030BD4;
}
a.subtle, a.subtle:visited {
  color: #000;
}
/* hover/active state */
a.active,
a:hover,
a:focus,
a.subtle:hover,
.navbar .nav>li:focus,
.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus, 
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color:#34C4F2;
  text-decoration: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  text-decoration: none;
  -webkit-box-shadow: inset 0 0 0 rgba(255, 0, 0, 1);
     -moz-box-shadow: inset 0 0 0 rgba(255, 0, 0, 1);
          box-shadow: inset 0 0 0 rgba(255, 0, 0, 1);
}
.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle, 
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
  background-color: white;
  color:#34C4F2;
}
/* external links get the Font Awesome icon-external-link */
a[target="_blank"]:after {
  content: "\0000a0\0000a0\f08e";
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}


/**
 * Fixed header that shows a shadow when scroll position isn't at top.
 */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 155px;
  z-index: 1000;
}
header.shadow {
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
     -moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
          box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
}



.navbar {
    background-color: transparent;
    font-size: 12px;
    margin-top: 20px;
}
.navbar-inner {
  border: none;
  border-radius: 0;
  background-color: transparent;  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)";
  padding: 0;
}
.navbar .nav>li>a { 
  color: #333;
}

/**
 * Navbar search form expands left over other links when active.
 */
header .span12 {
  position: relative;
}
.navbar {
  position: absolute;
  top:0;
  right:0;
}
.navbar-inner {
  position: relative;
  width: 400px;
}
.navbar .gsaa-nav {
  position: absolute;
  top: 0;
  right: 0;
}
.navbar .navbar-form.search {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}
.navbar .navbar-form.search.active {
  border-bottom: 2px black solid;
}
.navbar .navbar-form.search .btn {
  color: black;
  text-decoration: none;
}
.navbar .navbar-form.search .btn:hover {
  color:#34C4F2;
}
.navbar .navbar-form.search .btn,
.navbar .navbar-form.search.active .btn {
  padding-left: 0;
  margin-left: 0;
}
.navbar .navbar-form.search input,
.navbar .navbar-form.search input:focus {
  display: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  font-size: 20px;
  width: 330px;
}

/**
 * Dropdown in header menu - some of this is purely 
 * stripping bootstrap styles.
 */
.gsaa-nav .dropdown-menu {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-width: auto;
  margin: 0 0 0 15px;
  padding: 0;
}
.navbar .nav>li>.dropdown-menu:before {
  content: none;
}
.navbar .nav>li>.dropdown-menu>li {
  border-bottom: 1px dotted #ccc;
}
.navbar .nav>li>.dropdown-menu>li:last-child {
  border-bottom: none;
}
.navbar .nav>li>.dropdown-menu>li>a {
  padding: 3px 0;
}

/**
 * Footer
 */
footer {
  background-color: white;
  padding: 30px 0;
  font-size: 12px;
}
footer #section1 p {
  font-size: 20px;
  color: #030BD4;
  font-weight: bold;
  line-height: 30px;
  margin-right: 20px; 
}
footer h6 {
  margin-top: 0;
  margin-bottom: 25px;
}

.main-container {
  padding-top: 30px;
}


/**
 * Main nav
 */
.sidebar-nav-section > h3 {
  font-weight: normal;
  line-height: 40px;
}
.sidebar-nav-section > h3 > a,
.sidebar-nav-section > ul > li > a {
  color: #000;
}
.sidebar-nav-section > h3 > a:hover,
.sidebar-nav-section.active > h3 > a {
  color: #34C4F2;
}

.sidebar-nav-section > ul > li > a { border-bottom: 2px solid transparent; }
.sidebar-nav-section > ul > li:hover > a { border-bottom-color: #ccc; }
.sidebar-nav-section > ul > li.active > a { border-bottom-color: #34C4F2; }

.sidebar-nav-section > ul { display: none; }
.sidebar-nav-section.active > ul { display: inherit; }

.sidebar-nav-section > ul > li { height: 30px; }

.sidebar-nav-section { border-bottom: 1px dotted #ccc; }
.sidebar-nav-section:last-child { border-bottom: none; }

@media (max-width: 979px) {
  .sidebar-nav-section > h3 {
    font-size: 20px;
  }
}


/**
 * Page blocks
 */
[class*="row"] > h4 {
  margin-top: 50px;
  padding-bottom: 18px;  
}
.page-blocks > [class*="row"] .page-block {
  padding: 30px 40px 30px 0;
}
.page-blocks > [class*="row"]:first-child .page-block {
  padding-top: 0
}
.page-block > h4 {
  margin: 20px 0;
}

/* dividing lines when blocks are stacked */
@media (max-width: 770px) {
  .page-blocks > [class*="row"] > [class*="span"] {
      border-bottom: 1px dotted #ccc;
  }
  .page-blocks > [class*="row"]:last-child > [class*="span"]:last-child {
      border-bottom: none;
  }
}
/* dividing lines when blocks side by side */
@media (min-width: 771px) {
  .page-blocks > [class*="row"]  > [class*="span"] {
    border-top: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    margin-left: 0px;
    padding-left: 20px;
  }
  .page-blocks > [class*="row"]:first-child > [class*="span"] {
    border-top: none;
  }
  .page-blocks > [class*="row"] > [class*="span"]:last-child {
    border-right: none;
    border-left: 1px dotted #ccc;
    padding-left: 20px;
  }
}

.team-org-page-block {
  height: 200px;
  position: relative;
}
.team-org-page-block [class*="logo"]{
  height: 140px;
  width: 100%;
  background:url(http://placehold.it/200x100) no-repeat center center;
  background-size: contain;
}
.team-org-page-block p {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  text-align: center;
  padding-right: 30px;
}
.team-org-page-block .logo1 { background-image: url(http://placehold.it/100x175); }
.team-org-page-block .logo2 { background-image: url(http://placehold.it/200x150); }
.team-org-page-block .logo3 { background-image: url(http://placehold.it/200x100); }



/**
 * Responsive
 */
@media (max-width: 768px) {
  footer h6 {
    margin-top: 30px;
  }
}

